In [1]:
#loading packages and read data
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
turo_data = pd.read_csv("C:/works/work/looking for jobs/turo/vehicles_booking_history.csv")
turo_data.head()

,vehicle_id,date,is_booked,tmv,category_grouped,demand_supply_ratio,price
0,333483,2018-05-25,0,14569,midsize,1.902318,30.0
1,304273,2018-05-12,1,4201,compact,14.622831,39.0
2,298081,2018-04-07,1,5724,midsize,8.659708,24.0
3,406331,2018-12-31,1,39102,suv,13.570390,121.0
4,456223,2018-08-09,0,9666,midsize,1.297453,42.0

In [10]:
#doing some t-test to see whether is_book is affected by price
not_booked_price = turo_data['price'][turo_data['is_booked']==1] 
booked_price = turo_data['price'][turo_data['is_booked']==0] 

print (stats.ttest_ind(not_booked_price, booked_price))

Ttest_indResult(statistic=-5.343897720652639, pvalue=1.0198552774383822e-07)

In [60]:
#for each vehicle, train a model by linear regression, return a dictionary, whose key is vehicle id, value is linear model coefficient and minimum price
def get_linear_coef(data):
    coef_dic = {}
    grouped = data.groupby('vehicle_id')
    for this_id,group in grouped:
        #we only use the booked data
        booked_data = group[group['is_booked']==1]
        #if we do not have sufficient booked data, we have to use all data
        if len(booked_data)<=5:
            used_data = group
        else:
            used_data = booked_data
        y = np.asarray(used_data['price'])
        X = np.asarray(used_data['demand_supply_ratio'])
        #reshape so sklearn package can recognize it
        X =  X.reshape((len(X), 1))
        #then we build the linear regression model
        reg = LinearRegression().fit(X, y)
        min_price = min(y)
        coef_dic[this_id] = [reg.coef_[0],reg.intercept_,min_price]
    return coef_dic

In [61]:
#then we feed data with values
def suggest_price(vehicle_ID,demand_supply_ratio):
    #we use the booked data to build the regression model, if we do not have booked data, we have to use all the data
    this_coef = coef_dict[vehicle_ID]
    predict_value = this_coef[0]*demand_supply_ratio + this_coef[1]
    #if the predict value is very low, we return the min price
    if predict_value<0:
        return this_coef[2]
    else:
        return predict_value

In [64]:
#some test to see whether it works
if __name__ == "__main__":
    coef_dict = get_linear_coef(turo_data)
    print (suggest_price(333483,2))

23.4841400483

In [ ]:
#the testing criterion
#let me add something for test